style
	include css/buzzer.css

div.button(style="height: 41vh; width: 41vh; 	background-color: black;") 
div.button(id = "buzz")
center

	h1 Team Name:
	input(type="text" id="teamName" placeholder="Type your team name here!" color="red")

script(src="jquery/dist/jquery.min.js")
script(src="/socket.io/socket.io.js")
script var teamName = "none";
script var input = document.getElementById('teamName');

script.
	var pressFlag = 0;	// This is used to prevent the button from being pressed several times in a row.
	var socket = io();
	console.log("Connected to socket.");
	$("div#buzz").on("click",function() {
		if(pressFlag == 0){
			pressFlag = 1;
			teamName = input.value;
			socket.emit("buzz", {"team": teamName});
			navigator.vibrate(1000);
			var button = document.getElementById("buzz");
			button.style = 	"background-color: grey";
			setTimeout(function(){
				button.style = "background-color: red";
				pressFlag = 0;
			}, 6000);
			console.log("Buzz! " + teamName);
		}
	});		