// JAC Scoreboard

doctype html
html
	head
		script(src="d3/d3.min.js") 
		script(src="epoch-charting/dist/js/epoch.min.js")
		script(src="jquery/dist/jquery.min.js")
		link(rel="stylesheet", type="text/css", href="epoch-charting/dist/css/epoch.min.css")
		title JAC OP/ED Night Scores
	
	body
		h1 test
html
