// JAC Scoreboard

doctype html
html
	head
		script(src="d3/d3.min.js") 
		script(src="epoch-charting/dist/js/epoch.min.js")
		script(src="jquery/dist/jquery.min.js")
		link(rel="stylesheet", type="text/css", href="epoch-charting/dist/css/epoch.min.css")
		title JAC OP/ED Night Scores
		
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect();
		socket.on('scoreboard-buzz', function(data){
			console.log("Buzz from " + data.team + "!");
		});
		socket.on('scoreboard-selection', function(data){
			console.log("Cell " + data.choice);
		});
