body {
	background-color: blue;
	font-family: 'Roboto Slab', serif;
}

.button{
	background-color: red;
	border-radius: 50%;
	box-shadow: inset 0 0 5vh 5vh rgba(0,0,0,0.5);
	/* using vh makes it scale properly with any screen size */
	height: 40vh;
	width: 40vh;
	vertical-align: middle;

	/* centering */
	margin:auto;
	position:absolute;
	top:0;bottom:0; /* Aligns Vertically - Remove for Horizontal Only */
	left:0;right:0; /* Aligns Horizontally - Remove for Vertical Only  */

}


input[type=text]{
	margin-bottom: 20px;
	margin-top: 10px;
	width: 50%;
	padding: 15px;
	border-radius:6px;
	border: 1px solid #7ac9b7;

}
input[type=text]:focus,textarea:focus {
	border-color: #4697e4;
}